.App {
  display: flex;
  flex:1;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  /* justify-content: center;
  align-items: center; */
}

.Header {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Body {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
